:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --nav-color: #2196f3;
  --white-color: #ffffff;
  --niz-nav: rgba(255, 255, 255, 0.6);
  --background-name: #2f303a;
  --backgroud-color: #f5f4fa;
  --borderr: #afb1b8;
  --footer-znak: rgba(255, 255, 255, 0.1);
}

body {
  background: #ffffff;
  color: var(--primary-text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.logo {
  color: var(--nav-color);
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logotip {
  margin-bottom: 20px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.site-nav .link,
.link1 {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav2 .main-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.menu-link {
  position: relative;
}
.menu-link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  height: 4px;
  background: var(--nav-color);
  opacity: 0;
  transition: opacity 250ms;
}
.menu-link:hover::after {
  opacity: 1;
}
.site-nav2 {
  display: flex;
  margin-left: auto;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.icon {
  display: inline-block;
  width: 16px;
  height: 10px;
  background-size: contain;
  background-position: center;
  margin-right: 10px;
}
.icon-telephone {
  display: inline-block;
  width: 16px;
  height: 12px;
  background-size: contain;
  background-position: center;
  margin-right: 10px;
}
.nav-rith:hover,
.nav-rith:focus svg {
  fill: var(--nav-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav2 .item + .item {
  margin-left: 50px;
  text-decoration: none;
}
.envelop-icon {
  width: 16px;
  height: 12px;
}
.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--nav-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.section-hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--background-name);
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img(7).png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section-clients {
  padding-top: 94px;
  text-align: center;
}
.client {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}
.feature-list .title {
  color: var(--title-text-color);
  margin-top: 0;
}
.feature-list {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  display: flex;
}
.feature-list {
  margin-left: -30px;
}
.feature-list .item {
  margin-left: 30px;
}
.feature-list .item {
  width: 270px;
}
.imges {
  display: flex;
  margin-left: -30px;
}
.imges .item {
  margin-left: 30px;
}
.face {
  display: flex;
  margin-left: -30px;
}
.name-team {
  padding-top: 30px;
}
.name-team,
.professional-name {
  text-align: center;
}
.feature-list .item:before {
  content: "";
  width: 100%;
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-image: url(../images/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.feature-list .item1:before {
  background-image: url(../images/clock.svg);
  background-position: center;
}
.feature-list .item2:before {
  background-image: url(../images/diagram.svg);
}
.feature-list .item3:before {
  background-image: url(../images/astronaut.svg);
}
.face .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background: var(--white-color);
  margin-left: 30px;
}
.face-section {
  background-color: var(--backgroud-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.button {
  background-color: var(--nav-color);
  color: var(--white-color);
  border: 1px solid transparent;

  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  min-width: 200px;

  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  text-align: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}
.section-img {
  padding-bottom: 94px;
}
.fload-content {
  position: relative;
  overflow: hidden;
}
.tramb {
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 82px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--white-color);
  width: 100%;
}
.nav-rith {
  color: var(--primary-text-color);
  text-decoration: none;
}
.nav-rith:hover,
.nav-rith:focus {
  color: var(--nav-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.name-team {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.clients-list-icon {
  width: 44px;
  height: 49px;
  fill: var(--borderr);
}
.clients-list {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}
.clients-list-link {
  width: 170px;
  height: 90px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--borderr);
  box-sizing: border-box;
  border-radius: 4px;
}
.clients-list-link:hover .clients-list-icon {
  fill: var(--nav-color);
}
.clients-list-link:hover {
  border-color: var(--nav-color);
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--borderr);
}

.social-list-icon:hover,
.social-list-icon:focus {
  fill: var(--white-color);
}
.social-list-icons {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.icon5 {
  width: 40px;
  height: 52px;
}
.icon1 {
  width: 41px;
  height: 42px;
}
.icon2 {
  width: 80px;
  height: 42px;
}
.icon3 {
  width: 59px;
  height: 47px;
}
.icon4 {
  width: 88px;
  height: 45px;
}
.social-list {
  display: flex;
  justify-content: center;
}
.social-list-link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-color);
}
.social-list-margin-left {
  margin-left: 10px;
}
.social-list-margin-left:first-child {
  margin-left: 0;
}
.client-margin-left {
  margin-left: 30px;
}
.client-margin-left:first-child {
  margin-left: 0;
}
.social-list-link:hover,
.social-list-link:focus {
  fill: var(--white-color);
  background-color: var(--nav-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--white-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.adress {
  color: var(--white-color);
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.nav-footer {
  color: var(--niz-nav);
  font-size: 14px;
  line-height: 1.71;
}
.footer-bot {
  margin-bottom: 9px;
}
.footer-bot:nth-child(3n) {
  margin-bottom: 0;
}
.logo-2 {
  color: var(--title-text-color);
}
.logo .logo-2:hover,
.logo .logo-2:focus,
.logo .logo-3:hover,
.logo .logo-3:focus {
  color: rgb(204, 51, 24);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.title {
  font-size: 14px;
  line-height: 1.14;
}
.professional-name {
  font-size: 16px;
  line-height: 1.18;
}
.footer {
  background: var(--background-name);
  padding-bottom: 60px;
  padding-top: 60px;
}
.commit {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
.social-list-links {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: var(--footer-znak);
}
.footer-margin-left {
  margin-left: 10px;
}
.footer-margin-left:first-child {
  margin-left: 0;
}
.item::before {
  background: #f5f4fa;
  width: 270px;
  height: 120px;
}
.social-list-links:hover,
.social-list-links:focus .social-list-icon {
  fill: var(--white-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-links:hover,
.social-list-links:focus {
  background-color: var(--nav-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-flex {
  display: flex;
}
.footer-label {
  padding-left: 93px;
  display: flex;
  flex-direction: column;
}
.footer-podpiska {
  padding-left: 93px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.footer-btn {
  position: absolute;
  right: 378px;
}
.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  position: absolute;
  width: 358px;
  height: 50px;
  background-color: var(--background-name);
}
.class-commit {
  width: 280px;
}
.footer-input-podpiska {
  width: 585px;
}
.footer-web {
  width: 231px;
}
.logo-3 {
  color: var(--white-color);
}
.niz-nav .nav-footer {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.nav-footer:hover,
.nav-footer:focus {
  color: var(--nav-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link1 {
  color: var(--nav-color);
}
.link1:hover,
.link1:focus {
  color: var(--title-text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 500ms linear 500ms;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  padding: 40px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid #000000 10%;
  border-radius: 50%;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  transition: border-color 250ms linear;
}
.modal-input:focus,
.modal-massage:focus {
  outline: none;
  border-color: var(--nav-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--nav-color);
}
.modal-lable {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
}
.modal-lable:not(:last-child) {
  margin-bottom: 10px;
}
.modal-icon {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: color 250ms linear;
}
.modal-span-lable {
  position: relative;
  display: block;
}
.modal-massage {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid #212121 20%;
  border-radius: 4px;
  margin-top: 4px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  transition: border-color 250ms linear;
  margin-bottom: 20px;
}
.modal-massage::placeholder {
  color: #757575 50%;
}
.modal-policy-lable::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid var(--title-text-color);
  margin-right: 7px;
  align-items: center;
}
.modal-policy:checked + .modal-policy-lable {
  background-image: url("icon-icon-check.svg");
}
.visuallly-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.modal-policy-lable {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  justify-content: center;
  margin-bottom: 40px;
}
.modal-btn {
  background-color: var(--nav-color);
  color: var(--white-color);
  border: 1px solid transparent;

  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  width: 200px;

  border-radius: 4px;
  padding: 10px 32px;
  align-self: center;
  text-align: center;
}
.policy-link {
  color: var(--nav-color);
}
.footer-btn {
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 50px;
  background: var(--nav-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}
.footer-web {
  width: 270px;
}
